.header {
    width: 100%;
    height: 100%;
}
.header_top {
    background: #F8F8F8;
    height: 45px;
    width: 100%;

}
.header_top .header_topCont {
    display: flex;
    height: 100%;

    justify-content: space-between;
}
.header_top .list_left {
    width: 50%;
    padding-left: 0px;
    padding-right: 45px;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}
.header_top .list_left ul {
    display: flex;
    padding: 0;
    justify-content: space-between;
    margin: 0;
    height: 100%;
    align-items: center;
    list-style: none;
}
.header_top .list_left ul li {
    font-size: 16px;
    letter-spacing: -0.015em;
    text-transform: unset;
    color: #6F6F6F;
    padding: 12px;
    border-top: 5px solid transparent;
    margin-right: 10px;
    cursor: pointer;
}
.header_top .list_left ul li.checked {
    border-top: 7px solid rgb(229, 0, 124);
    color: #262626;
}
.divider {
    background-color: #E8E8E8;
    width: 1px;
    height: 20px;
}
.header_top .list_left .location {
    display: flex;
    cursor: pointer;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.015em;
    text-transform: unset;
    color: rgb(111, 111, 111);
    fill: rgb(111, 111, 111);

}
.header_top .list_left .location img {
    width: 15px;
    height: 15px;
    margin-right: 8px;
    margin-top: -5px;
}
.header_top .list_right {
    width: 8%;

}
.header_top .languages {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.015em;
    justify-content: space-around;
}
.header_top .languages .lang {
    display: flex;
    cursor: pointer;
    color: #262626;
    align-items: center;
}
.header_top .languages .lang.choosen {
    color: #6F6F6F !important;
}
.header_bottom {
    height: 65px;
    padding: 10px;
    /*border: 1px solid red;*/
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
}
.header_bottom .header_bottomCont {
    display: flex;
    align-items: center;
}
.header_bottom .logo img{
    width: 120px;
}
.header_bottom ul {
    display: flex;
    padding: 0;
    width: 50%;
    margin: 0 0 0 40px;
    justify-content: space-between;
    list-style: none;
    font-size: 15px;
    color: #262626;
}
.header_bottom ul li {
    cursor: pointer;
}
.dropdown-options {
    margin-top: 10px;
    position: absolute;
    background: #fff;
    width: 150px;
    border-radius: 4px;
    box-shadow: #6F6F6F 0px 0px 30px;

}

.header_bottom .buttons {
    margin-left: auto;

}
.header_bottom .buttons button {
    border: none;
    background: transparent;
    padding: 3px 15px;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
}
.header_bottom .buttons button:first-child {
    border: 1px solid rgb(229, 0, 124);
    color: rgb(229, 0, 124);
    fill: rgb(229, 0, 124);
    margin-right: 5px;
}
.header_bottom .buttons button:last-child {
    background: none rgb(229, 0, 124);
    letter-spacing: -0.015em;
    color: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);

}