.App {
  text-align: center;
  font-family: sans-serif;
}
.container {
  width: 70%;
}
.container-fluid {
  margin: 0;
  padding: 0;
}
.hero {
  margin-top: -11px;
  width: 100%;
  height: 610px;
  background: url("https://altel.kz/uploads/2021/10/15/b9bb473b2e7d899095bec5c65f2cf9d7_original.342290.png") no-repeat center;
  background-size: contain;
}
a{
  text-decoration: none !important;
}
